h1
{
    color:rgb(102, 70, 70)
}

body{
    color: rgb(102, 70, 70) 
    
}

h3{
    color: black;
}

body{
    background-color: rgb(191, 169, 169);
}

img{
    
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}
    
.grid {
display: grid;
gap: 2em;
grid-template-rows: repeat(1,3em);
}

.card {
    background-color:rgb(191, 169, 169);
    border: 0px solid black;
}

